*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
   
}
#main{
  height: 100%;
  width: 100%;

 
}
#header{
    position:fixed;
height: 10%;
width: 100%;

display: flex;
align-items: center;
background: white;
color: black;
justify-content: space-around;
}
#logo{
    height: 90%;
  
}

#logo img{
    height: 100%;
    width: 100%;
   border-radius: 5px;
    object-fit: cover;
}
#contactdetail{
   
  text-align: center;
   color:black;
}
.text{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 400;
    display: flex;
    
}
.text:hover{
   color: lightseagreen;
}
.icon{

border-radius: 50%;
padding: 10px;
}
.icon:hover{
    background: lightblue;
}
#login{
    padding: 10px;
    border-radius: 50px;
   
}
#login:hover{
 background-color: lightblue;
}
#try{
    background-color:green;
    padding: 10px 20px;
    color: white;
}
#try:hover{
    background:rgb(3, 26, 3);
}
#strip{
    height: 8%;
   color: antiquewhite;
    width: 100%;
   
    align-items: center;
    display: flex;
    justify-content: center;
  
  
    background: darkblue;
}
#page1{
height: 100%;

padding-top: 6%;
width: 100%;
background: wheat;
}
#content{
    width: 100%;
    height: 76%;
    display: flex;

}
h1{
    text-align: center;
}
#box1{
    height: 100%;
    padding-left: 2rem;
    width: 50%;
    background-color: aliceblue;
}
#para{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 5px;
}
#button{
display: flex;
}
#button1{
padding: 10px 20px;
background-color: lightblue;
margin: 5px 5px;
color: white;
border: 1px solid darkblue;

}
#button1:hover{
    background-color: darkblue;
}
#button2{
padding: 10px 20px;
background-color: lightblue;
margin: 10px;
color: white;
border: 1px solid darkblue;
}
#button2:hover{
    background-color: darkblue;
    color: aqua;
}
#foot{
    height: 16%;
    width: 100%;
    background: #5d0a0a;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

#box2{
    height: 100%;
    width: 50%;
    background-color: aliceblue;
    padding:2rem 0 2rem 2rem;
}
















